@if (selectedBoard(); as board) {
  <div class="board-page d-flex gap-4 p-4 overflow-auto">
    @for (column of board.columns; track column.id) {
      <app-board-column
        [column]="column"
        [boardId]="board.id"
      ></app-board-column>
    }

    <div class="new-column-wrapper">
      <button
        class="new-column-btn"
        data-bs-toggle="modal"
        data-bs-target="#editBoardModal"
      >+ New Column</button>
    </div>
  </div>
} @else {
  <div class="p-4 text-secondary">No board selected.</div>
}


<app-view-task-modal></app-view-task-modal>
<app-add-task-modal></app-add-task-modal>
<app-edit-task-modal></app-edit-task-modal>
<app-delete-task-modal></app-delete-task-modal>

<app-add-board-modal></app-add-board-modal>
<app-edit-board-modal></app-edit-board-modal>
<app-delete-board-modal></app-delete-board-modal>
