<div class="board-column">

  <div class="d-flex align-items-center gap-2 mb-4">
    <span
      class="column-dot"
      [class.dot-todo]="column.name === 'Todo'"
      [class.dot-doing]="column.name === 'Doing'"
      [class.dot-done]="column.name === 'Done'"
    ></span>
    <span>
      {{ column.name }}
      ({{ column.tasks.length }})
    </span>
  </div>

  <div class="d-flex flex-column gap-3">
    @for (task of column.tasks; track task.id) {
      <app-task-card
        [task]="task"
        [boardId]="boardId"
        [columnId]="column.id" >
      </app-task-card>
    }
  </div>

</div>
