<div class="board-column">
  <!-- HEADER -->

  <div class="d-flex align-items-center gap-2 mb-4">
    <div class="d-flex align-items-center gap-2 mb-4">
      <span class="column-dot" [style.backgroundColor]="color"> </span>

      <h6 class="m-0 text-uppercase">
        {{ title }}
      </h6>
    </div>
  </div>

  <!-- TASKS -->

  <div class="d-flex flex-column gap-3">
    <app-task-card></app-task-card>

    <app-task-card></app-task-card>

    <app-task-card></app-task-card>
  </div>
</div>
