.app-header {
  height: 64px;
  min-height: 64px;
  background-color: #ffffff;
  border-bottom: 1px solid #e4e6f0;
}

.toggle-sidebar-btn {
  background: transparent;
  border: none;
  width: 32px;
  height: 32px;
}

.board-title {
  font-size: 20px;
  color: #000112;
  letter-spacing: -0.3px;
}

.add-task-btn {
  background-color: #635fc7;
  color: #ffffff;
  border-radius: 25px;
  font-size: 14px;
  border: none;
  transition: 0.2s ease;
}

.add-task-btn:hover {
  background-color: #a8a4ff;
  color: white;
}

.menu-btn {
  background: transparent;
  border: none;
  width: 32px;
  height: 32px;
}

.custom-dropdown {
  min-width: 180px;
  border: 1px solid #e4e6f0;
  border-radius: 8px;
  padding: 8px;
}

.custom-dropdown-item {
  color: #828fa3;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  transition: 0.2s ease;
}

.custom-dropdown-item:hover {
  background-color: #f4f7fd;
}

.delete-item {
  color: #ea5555;
}