<div class="board-page d-flex gap-4 p-4 overflow-auto">

  <!-- TODO -->
<div class="board-page d-flex gap-4 p-4 overflow-auto">

  <!-- TODO -->

  <app-board-column
    title="Todo (4)"
    color="#49C4E5">
  </app-board-column>

  <!-- DOING -->

  <app-board-column
    title="Doing (6)"
    color="#8471F2">
  </app-board-column>

  <!-- DONE -->

  <app-board-column
    title="Done (7)"
    color="#67E2AE">
  </app-board-column>

  <!-- NEW COLUMN -->

  <div class="new-column-wrapper">

    <button class="new-column-btn">
      + New Column
    </button>

  </div>

</div>



</div>

<!-- MODALS -->

<app-view-task-modal></app-view-task-modal>

<app-add-task-modal></app-add-task-modal>
<app-edit-board-modal></app-edit-board-modal>

<app-delete-board-modal></app-delete-board-modal>