<div
  class="modal fade"
  id="deleteBoardModal"
  tabindex="-1"
>

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content border-0 rounded-4 p-3">

      <div class="modal-body">

        <!-- TITLE -->

        <h5
          class="fw-bold mb-4"
          style="color: #EA5555;"
        >

          Delete this board?

        </h5>

        <!-- TEXT -->

        <p
          class="text-secondary small mb-4"
          style="line-height: 1.8;"
        >

          Are you sure you want to delete the
          ‘Platform Launch’ board?
          This action will remove all columns and tasks
          and cannot be reversed.

        </p>

        <!-- BUTTONS -->

        <div class="d-flex gap-3">

          <!-- DELETE -->

          <button
            class="btn w-100 py-2 rounded-pill"
            style="
              background: #EA5555;
              color: white;
            "
          >

            Delete

          </button>

          <!-- CANCEL -->

          <button
            class="btn w-100 py-2 rounded-pill"
            style="
              background: #f4f7fd;
              color: #635FC7;
            "
            data-bs-dismiss="modal"
          >

            Cancel

          </button>

        </div>

      </div>

    </div>

  </div>

</div>
